<div class="w-8/12 mx-auto">
  <h2 class="mb-5 text-3xl font-bold text-center">Personal stats: </h2>
<div class="w-full shadow stats mb-5">
  <div class="stat">
    <div class="stat-figure text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
      </svg>
    </div>
    <div class="stat-title">Match Count</div>
    <div class="stat-value text-primary"><%= @matches.count %></div>
    <div class="stat-desc"><%= @user.winner.reject { |match| match.accepted == false}.count %> match wins</div>
  </div>
  <div class="stat">
    <div class="stat-figure text-info">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
    </div>
    <div class="stat-title">Booked Slots</div>
    <div class="stat-value text-info"><%= @bookings.count %></div>
    <div class="stat-desc">21% more than last month</div>
  </div>
  <div class="stat">
    <div class="stat-figure text-info">
      <div class="avatar online">
        <div class="w-16 h-16 p-1 mask mask-squircle bg-base-100">
          <%= image_tag current_user.image, class: 'mask mask-squircle', alt: "#{current_user.email}" if current_user.image? %>
        </div>
      </div>
    </div>
    <div class="stat-value">86%</div>
    <div class="stat-title">Winrate</div>
    <div class="stat-desc text-info"><%= 3 %> on the leaderboard</div>
  </div>
</div>
</div>
<% if @matches.empty? %>
  <h2 class="mb-5 text-3xl font-bold text-center">No match yet</h2>
<%  else  %>
<h2 class="mb-5 text-3xl font-bold text-center">Tous mes matchs: </h2>
<%  end %>
  <% @matches.each do |match| %>
  <div class="w-6/12 mx-auto">
    <div class="card text-center shadow-2xl lg:card-side bg-accent text-accent-content">
      <div class="card-body">
        <h3 class="text-3xl font-bold">Gagné</h3>
        <div class="justify-between card-actions">
          <div class="flex items-center">
            <div class="avatar">
              <div class="rounded-full w-24 h-24">
                <%= image_tag match.scores.first.user.image, alt: "#{current_user.email}" %>
              </div>
            </div>
            <p class="text-3xl font-bold ml-8"><%= match.scores.first.score %></p>
          </div>
          <div class="flex items-center">
            <p class="text-3xl font-bold mr-8"><%= match.scores.last.score %></p>
            <div class="avatar">
              <div class="rounded-full w-24 h-24">
                <%= image_tag match.scores.last.user.image, alt: "#{current_user.email}" %>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>


  </div>
<% end %>
